@page "{id:int}"
@model ActionUI.Admin.Pages.Logged.Sources.SourceInfoModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SourceInfo</title>
</head>
<body>
</body>
</html>
