@page
@model ResetPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Login Page - Apex responsive bootstrap 4 admin template</title>
    <link rel="apple-touch-icon" sizes="60x60" href="~/app-assets/img/ico/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/app-assets/img/ico/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/app-assets/img/ico/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/app-assets/img/ico/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/app-assets/img/ico/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/app-assets/img/ico/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/simple-line-icons/style.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/perfect-scrollbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/prism.min.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN APEX CSS-->
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/vendors/css/sweetalert2.min.css">
    <!-- END APEX CSS-->
    <!-- BEGIN Page Level CSS-->
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <!-- END Custom CSS-->
</head>
<body data-col="1-column" class=" 1-column  blank-page blank-page">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="wrapper nav-collapsed menu-collapsed">
        <div class="main-panel">
            <div class="main-content">
                <div class="content-wrapper">
                    <!--Login Page Starts-->
                    <section id="login">
                        <div class="container-fluid">
                            <div class="row full-height-vh">
                                <div class="col-12 d-flex align-items-center justify-content-center">
                                    <div class="card gradient-indigo-purple text-center width-400">
                                        <div class="card-img overlap">
                                            <img alt="element 06" class="mb-1" src="~/app-assets/img/logos/logo_action.png" width="190">
                                        </div>
                                        <div class="card-body">
                                            <div class="card-block">

                                                @if (Model.ShowFormChangePassword)
                                                {
                                                    <h4 class="white">@Model.UserLogin.Email</h4>
                                                    <form method="post" id="formResetPassword">
                                                        <input type="hidden" asp-for="@Model.UserLogin.Email" />
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="password" class="form-control" asp-for="@Model.UserLogin.Password" id="inputPass" placeholder="Senha" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="password" class="form-control" asp-for="@Model.UserLogin.ConfirmPassword" id="inputConfirmPass" placeholder="Confirmaçã Senha" required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-pink btn-block btn-raised" id="btnAlterarSenha">Alterar Senha</button>

                                                            </div>
                                                        </div>
                                                    </form>
                                                }
                                                else
                                                {
                                                    <div class="alert alert-danger" role="alert">
                                                        Não existe solicitação de troca de senha para este login.
                                                    </div>

                                                }
                                            </div>

                                        </div>
                                        <div class="card-footer">
                                            @if (!Model.ShowFormChangePassword)
                                            {
                                                <div class="float-left"><a href="/Login" class="white">Voltar para página de login</a></div>

                                            }
                                            @*<div class="float-right"><a (click)="onRegister()" class="white">New User?</a></div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--Login Page Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <script src="~/app-assets/vendors/js/jquery.blockUI.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="~/app-assets/vendors/js/sweetalert2.min.js" type="text/javascript"></script>
    <script src="~/app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="~/app-assets/js/customizer.js" type="text/javascript"></script>

    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->

    <script src="~/js/site.js" asp-append-version="true" type="text/javascript"></script>
    <script>
        $(document).ready(function () {


            $('#btnAlterarSenha').on('click', function (e) {

                var form = $('form').serializeFormJSON();

                //validar
                //Site.utils.isStrongPassword("M@rc10j0s3ff")
                var errors = [];

                var pass = $('#inputPass').val();
                var confirmPass = $('#inputConfirmPass').val();

                if (pass != confirmPass) {
                    errors.push('As senhas digitadas são divergentes');
                }

                if (!Site.utils.isStrongPassword(pass)) {
                    errors.push('A senha deve conter ao menos:<br>1 Número<br>1 letra maiúscula<br>1 letra minúscula<br>1 caracter especial como (@@ # $ .)<br>ter no mínimo 8 caracteres</li></ul>');
                }

                if (errors.length > 0) {

                    Site.notification.error(errors.join("<br>"));

                    return;

                }


                Site.ajax.post('ResetPassword', form, resetPasswordResult);

                function resetPasswordResult(data) {
                    
                    if (data) {

                        data = JSON.parse(data);

                        if (data.status) {
                            Site.notification.success(data.message, function () {

                                window.location.href = "Login";
                            });
                        } else {
                            Site.notification.error(data.message);

                        }

                    } else {

                        Site.notification.error("Não é possível concluir a operação.");
                    }

                }

            });


        });
    </script>
</body>
</html>